:root {
  --clr-primary: #24053e;
  --clr-accent: #44ffa1;
  --clr-gray: #584d62;
  --clr-light: #fcf8ff;
  --clr-white: #fff;
}

/* Base Styles */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  color: var(--clr-white);
  font-family: "Manrope", sans-serif;
  overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
/* 
font-family: 'Fraunces', serif;
font-family: 'Manrope', sans-serif; */
